@page
@model CreateModel

@{
    ViewData["Title"] = "Create Task";
}

<h1>Create Task</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Task.Name" class="control-label"></label>
                <input asp-for="Task.Name" class="form-control" />
                <span asp-validation-for="Task.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Task.NextDue" class="control-label"></label>
                <input asp-for="Task.NextDue" class="form-control" />
                <span asp-validation-for="Task.NextDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.LastCompleted" class="control-label"></label>
                <input asp-for="Task.LastCompleted" class="form-control"/>
                <span asp-validation-for="Task.LastCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Frequency" class="control-label"></label>
                <input asp-for="Task.Frequency" class="form-control" />
                <span asp-validation-for="Task.Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.EstimatedHours" class="control-label"></label>
                <input asp-for="Task.EstimatedHours" class="form-control" />
                <span asp-validation-for="Task.EstimatedHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.PreferredTime" class="control-label"></label>
                <select asp-for="Task.PreferredTime" class="form-control">
                    <option value="Weekday Morning">Weekday Morning</option>
                    <option value="Weekday Evening">Weekday Evening</option>
                    <option value="Weekend Morning">Weekend Morning</option>
                    <option value="Weekend Evening">Weekend Evening</option>
                </select>
                <span asp-validation-for="Task.PreferredTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.PreferredPlace" class="control-label"></label>
                <input asp-for="Task.PreferredPlace" class="form-control" />
                <span asp-validation-for="Task.PreferredPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
