@model TaskManager.Models.Task

@{
    ViewData["Title"] = "Create Task";
}

<h1>Create Task</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextDue" class="control-label"></label>
                <input asp-for="NextDue" class="form-control" />
                <span asp-validation-for="NextDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastCompleted" class="control-label"></label>
                <input asp-for="LastCompleted" class="form-control" />
                <span asp-validation-for="LastCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedHours" class="control-label"></label>
                <input asp-for="EstimatedHours" class="form-control" />
                <span asp-validation-for="EstimatedHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredTime" class="control-label"></label>
                <input asp-for="PreferredTime" class="form-control" />
                <span asp-validation-for="PreferredTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredPlace" class="control-label"></label>
                <input asp-for="PreferredPlace" class="form-control" />
                <span asp-validation-for="PreferredPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}